VITE_SUPABASE_URL="https://hulcdkjmdrisumgbzieg.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh1bGNka2ptZHJpc3VtZ2J6aWVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAwMDc5NjgsImV4cCI6MjA4NTU4Mzk2OH0.e19DeGnUrkf4uBJp2E0YAj8WwfaCo0IFHWx5DCwZZ4w"
GOOGLE_GENERATIVE_AI_KEY="YOUR_GEMINI_API_KEY_HERE"
